* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* CONFIGURAÇÕES GERAIS */

body {
    font-family: 'JetBrains Mono', monospace;
}

.home {
    background-color: #141414;
    color: #ffffff;
    min-height: 100vh;
}

.light-background {
    background-color: #262626;
    min-height: 100vh;
    text-align: center;
}

.dark-background {
    background-color: #141414;
    min-height: 100vh;
    text-align: center;
}

strong {
    color: #dc75f1
}


a {
    text-decoration: none;
    color: currentColor;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

.titulo {
    padding-top: 40px;
}


.titulo::after {
    content: " ";
    height: 4px;
    width: 60px;
    background-color: #bb60cd;
    display: block;
    margin: 12px auto;
}

.github,
.email {
    filter: invert(1);
}


.texto-left {
    margin: 0 auto;
}

/* NAV */

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: #141414;
    color: #fff;
    z-index: 9999;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

nav li {
    padding: 18px;
    font-size: 18px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #bb60cd92;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scaleX(1);
}




/* HOME */


.inicio {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    padding-top: 20vh;

}

.nome::after {
    content: " ";
    height: 4px;
    width: 60px;
    background-color: #bb60cd;
    display: block;
    margin: 12px auto;
}


.avatar {
    margin-top: 30px;
    width: 350px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px #bb60cd57;
}

.socials img {
    margin-top: 40px;
    width: 40px;
}

/* Sobre Mim */

.apresentacao {
    display: flex;
    align-items: center;
    margin: 0px 200px auto;
}

.texto {
    width: 50vw;
    margin-left: 70px;
    text-align: left;
}

.oportunidade {
    border-left: 2px solid #dc75f1;
    padding-left: 5px;
}

.animated {
    width: 500px;
}

/* SKILLS */

.languages {
    margin-top: 60px;
}

.languages img {
    width: 70px;
    margin-top: 30px;
}

#skills-animated {
    margin-top: 90px;
    width: 350px;
}


/* PROJETOS */


.projetos {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projeto1 {
    margin-top: 100px;
}

.videoprojeto-container {
    display: flex;
}

.videoprojeto {
    position: relative;
    width: 400px;

}

.videoprojeto video {
    border-radius: 20px;

}

.projeto1-texto {
    display:grid;
    justify-items: center;
    margin-top: 1px;
    width:700px;
}

.projeto2 {
    margin-top:3vh;
}






.botoes {
    position:relative;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width:200px;
    
}

#btn {
    width:65px;
    height:30px;
    margin:12px;
    border:none;
    border-radius: 6px;
    color:#000000;
    font-family: 'JetBrains Mono', monospace;
    cursor:pointer;
}

/* FOOTER */


footer {
    font-family: arial;
    background-color: #161616;
    min-height: 20vh;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.social_footer {
    margin-top: 15px;
    width: 40px;
}

#githubfooter {
    filter: invert(1);
}


/* MOBILE */

@media screen and (max-width:1000px) {

    .apresentacao {
        display: grid;
        justify-content: center;
    }

    .texto {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .texto {
        width: 80vw;
        margin-left: 0px;
    }

    .animated {
        margin-top: -30px;
        width: 300px;
    }

    #skills-animated {
        width: 300px;
    }


    .videoprojeto {
        max-width: 300px;

    }

    .projeto1 {
        margin-bottom:5vh;
    }

    .projeto1-texto {
        margin-left: 10px;
        margin-top: 10px;
        max-width: 90vw;
    }

    .projeto1-texto h2 {
        color:#fdf1ff;
        margin-bottom:8px;
    }


    .projeto1-texto h4 {
        text-align: left;
        margin-bottom:20px;
    }


    .videoprojeto-container {
        display: grid;
        justify-items: center;
        max-width:fit-content;
    }

}